.flex-aligner {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}


@media only screen and (max-device-height: 400px)
                   and (orientation: landscape) {
  .flex-aligner {
    flex-direction: row;
  }
}
//enter code here
